/* Roboto Mono for Logo, Navigation, Mile Marker Labels */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* Libre Baskerville for Large Headings */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
/* Shadows into the light - Option 2 for Headings */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
/* Inter for Body */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-background: #f4eee4;
  --color-headertext: #234a40;
  --color-maintext: #1c1c19;

  --cream: #f4eee4;
  --paper: #e9dfd1;
  --sand: #d4c6b4;

  --charcoal: #1c1c19;

  --evergreen: #234a40;
  --deep-pine: #173a33;
  --sage: #6f8073;

  --rust: #a55232;
  --clay: #b66a45;

  --mist: #a8aea7;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page__wrapper {
  background: var(--color-background);
  color: var(--color-maintext);
  width: 100%;

}

.root {
  width: 100%;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-headertext);
}

a::after {
  color: var(--color-headertext);
}


/* HEADER ITEMS */

.header {
  font-family: "Roboto Mono";
  color: var(--color-headertext);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  
}

.logoheader__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.logosymbol__wrapper {
  padding: 16px;
}

.logoname__wrapper {

}

.logo__name {
  font-size: 32px;
}

.logo__symbol {
  font-size: 48px;
  color: var(--color-headertext);
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.navlink {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.toggle__wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
}

.brighticon {
  color: var(--color-headertext);
  font-size: 28px;
}


/* HERO */

.hero__wrapper {
  display: flex;
  width: 100%;
  
}

.hero {
  min-height: 600px;

  display: grid;
  grid-template-columns: 1fr 1.4fr;

  align-items: center;

  
}

.hero__content {

}

.hero h1 {
  font-size: clamp(3rem, 5vw, 5rem);
  line-height: 1.1;
}

.hero h1 span {
  color: var(--accent-rust);
}

.hero__image {
  height: 100%;

  background-image:
    linear-gradient(
      to right,
      var(--background) 0%,
      transparent 30%
    ),
    url("/images/hero-light.jpg");

  background-size: cover;
  background-position: center;
}