@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
  --cream: #F4EEE4;
  --paper: #E9DFD1;
  --sand: #D4C6B4;

  --charcoal: #1C1C19;

  --evergreen: #234A40;
  --deep-pine: #173A33;
  --sage: #6F8073;

  --rust: #A55232;
  --clay: #B66A45;

  --mist: #A8AEA7;
}

